<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shane's Blog - Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body>
<header class="nav">
      <span class="tabs">
        <a href="{{ url_for('home') }}">
          Home
        </a>
      </span>

  <span class="tabs">
      <a href="{{ url_for('logout') }}">
        Logout
      </a>
    </span>
  <span class="time">
      {{current_time}}
    </span>
</header>

<table class="box">
  <tr>
    <td>
      <div class="sidebar">
        <a href="{{ url_for('profile', username=current_user.username) }}" class="tab">
          <div>
            Profile
          </div>
        </a>

        <a href="{{ url_for('user_posts', username=current_user.username) }}" class="tab">
          <div>
            Posts
          </div>
        </a>

        {% if username == current_user.username %}
          <a href="{{ url_for('profile_edit', username=current_user.username) }}" class="tab">
            <div>
              Edit Your Profile
            </div>
          </a>
        {% endif %}

        <a href="#" class="tab">
          <div>
            Account Security
          </div>
        </a>
      </div>
    </td>

    <td>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </td>

  </tr>
</table>

</body>
</html>
