{% extends "user/base.html" %}

{% block content %}
  <div class="userinfo">

    &nbsp;&nbsp;
    {% if username == current_user.username %}
      <h1>My Profile:&nbsp;</h1>
    {% else %}
      <h1>{{ username }}'s Profile: </h1>
    {% endif %}

    <hr>
    <br>
    <div class="avatar-box">
      <img src="{{ url_for('static', filename='/avatar/'+user.avatar) }}" width="70" alt="{{ user.username }}">
    </div>
    {% if username == current_user.username %}
    {% elif current_user.is_following(user) %}
      <form action="{{ url_for('unfollow', username=username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='unfollow', class='button-following') }}
      </form>
    {% else %}
      <form action="{{ url_for('follow', username=username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='follow', class='button-following') }}
      </form>
    {% endif %}

    <br>
    <strong>Followers: </strong>{{ user.followers_len }}
    &nbsp;&nbsp;&nbsp;
    <strong>Following: </strong>{{ user.following_len }}
    <br>
    <strong>Username: </strong>{{ username }}
    <br>
    <strong>Email: </strong>{{ user.email }}
    <br>
    <strong>Recent login: </strong>
    {{ user.recent_login }}
  </div>
{% endblock %}
