{% extends "user/profile_base.html" %}

{% block tab %}
    <div class="profile-content">
      <div class="profile-content-header">
        <div class="avatar">
          <img src="{{ url_for('static', filename='/avatar/'+user.avatar) }}" width="70" alt="{{ user.username }}">
        </div>
        <div style="margin-left: 10px">
          <h3>
            {{ username }}
          </h3>
          {% if username == 'admin' %}
            God of All
          {% else %}
            User #{{user.id}}
          {% endif %}
        </div>

        <div class="button-following">
          {% if username == current_user.username %}
          {% elif current_user.is_following(user) %}
          <form action="{{ url_for('unfollow', username=username) }}" method="post">
            <!--              {{ form.hidden_tag() }}-->
            {{ form.submit(value='unfollow') }}
          </form>
          {% else %}
          <form action="{{ url_for('follow', username=username) }}" method="post">
            <!--              {{ form.hidden_tag() }}-->
            {{ form.submit(value='follow') }}
          </form>
          {% endif %}
        </div>

      </div>
      <div class="profile-detail">
        <br>
        <strong>Followers: </strong>{{ user.followers_len }}
        &nbsp;&nbsp;&nbsp;
        <strong>Following: </strong>{{ user.following_len }}
        <br>
        <strong>Email: </strong>{{ user.email }}
        <br>
        <strong>Ta's description: </strong>
      </div>
    </div>
{% endblock %}
