{% extends "user/base.html" %}

{% block content %}
  <div class="userinfo">&nbsp;&nbsp;
    {% if username == current_user.username %}
      <h1>My Profile:&nbsp;</h1>
    {% else %}
      <h1>{{ username }}'s Profile: </h1>
    {% endif %}
    <hr>
    <br>
    <img src="{{ current_user.avatar }}" height="50" alt="{{ user.avatar }}">
    {% if current_user.is_following(user) %}
<!--    todo unfollow api-->
    {% endif %}
    <br>
    <strong>Username: </strong>{{ username }} <br>
    <strong>Email: </strong>{{ user.email }} <br>
    <strong>Recent login</strong>: {{ user.recent_login }}
  </div>
{% endblock %}
