* {
  padding: 0;
  margin: 0;
}
.welcome {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
}

.nav {
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
}

.tabs {
  width: 400px;
  height: 125px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: dodgerblue;
  margin-right: 10px;
}

.tabs a {
  text-decoration: none;
  text-align: center;
  color: white;
}

/* Login Forms */
.form {
  margin-left: 10px;
}

.form .input {
  width: 300px;
}

.error {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: red;
}


.success {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: green;
}


.post {
  -webkit-border-vertical-spacing: 20px;
  margin-left: 10px;
}

.button-following {
  background-color: dodgerblue;
  margin-top: 5px;
  height: 25px;
  width: 70px;
  border: none;
  border-radius: 3px;

  font-size: 15px;
  text-align: center;
  color: white;
}

.button-following:hover {
  background: deepskyblue;
}

.avatar-box {
  height: 70px;
  width: 70px;
  overflow: hidden;
  border-radius: 5px;
}

.post-content {
  display: inline-block;
}
