/* Profile Page */
.user-container {
  display: flex;
  overflow: hidden;
  margin: 100px auto;
  width: 65%;
  min-height: 500px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: rgba(102, 102, 102, .3) 15px 15px 30px;
}

.profile-nav {
  height: 100%;
  flex: 200px;
}

.profile-nav > a {
  text-decoration: none;
  color: #000;
}

.profile-nav-item {
  padding: 10px 15px 10px 10px;
  border-bottom: rgba(105, 105, 105, .5) solid 1px;
  border-collapse: collapse;
}

.profile-content {
  height: 100%;
  width: 100%;
  padding: 15px 25px 25px;
}

.profile-detail {
  margin-top: 10px;
}

