{% extends "base.html" %}

{% block content %}
  <!-- getting flask.flash() messages -->
  <!-- within blocks like this, var assign should follow by a `with` -->
  {% with flash_messages = get_flashed_messages() %}
  {% if flash_messages %}
    <ul>
      {% for msg in flash_messages %}
      <li>[{{msg}}]</li>
      {% endfor %}
    </ul>
    <hr>
  {% endif %}
  {% endwith %}

  {% for post in posts %}
    <div class="post">
      <p>
        <b>{{post.author}}</b> at
        <i>{{post.date}}</i>: {{post.content}}
      </p>
    </div>
  {% endfor %}
{% endblock %}
