{% extends "base.html" %}

{% block content %}
  <!-- getting flask.flash() messages -->
  <!-- within blocks like this, var assign should follow by a `with` -->
  {% with flash_messages = get_flashed_messages() %}
    {% for msg in flash_parse(flash_messages) %}
      <div class="{{ msg[0] }}" style="margin-left: 10px">{{ msg[1] }}</div>
    {% endfor %}
  {% endwith %}
  <table class="post">
    {% for post in posts %}
      <tr>
        <td>
          <a href="{{ url_for('profile', username=post.poster.username) }}">
            <div class="avatar-box">
              <img src="{{ post.poster.avatar }}">
            </div>
          </a>
        </td>

        <td>
          <b>
            {{ post.poster.username }}
            {% if post.poster.username == current_user.username %}
            (You)
            {% endif %}
          </b> at
          <i>{{post.post_time}}</i>: <br>
          &nbsp;&nbsp;&nbsp;&nbsp;{{post.content}}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
