{% extends "base.html" %}

{% block content %}
<div class="form">
  <form action='' method='post' novalidate>
    <!-- mandatory for forms -->
    {{ loginform.hidden_tag() }}
    <div>
      {{ loginform.email.label }} <br>
      {{ loginform.email(placeholder="example@example.com", class='input') }}
      <!-- error output when sth is not valid -->
      {% for error in loginform.email.errors %}
        <br>
        <span class="error">[{{error}}]</span>
      {% endfor %}
    </div>
    <div>
      {{ loginform.username.label }} <br>
      {{ loginform.username(placeholder="Username...", class='input') }}

      {% for error in loginform.username.errors %}
        <br>
        <span class="error">[{{error}}]</span>
      {% endfor %}
    </div>
    <div>
      {{ loginform.password.label }} <br>
      {{ loginform.password(placeholder='Password...', class='input') }}

      {% for error in loginform.password.errors %}
        <br>
        <span class="error">[{{error}}]</span>
      {% endfor %}
    </div>
    <div>
      {{ loginform.remember() }}
      {{ loginform.remember.label }}
    </div>
    {{ loginform.login() }}
  </form>
  Don't have an account?
  <a href="{{url_for('signup')}}">Sign Up</a>

  {% with get_flash = get_flashed_messages() %}
    {% if get_flash %}
      {% for msg in get_flash %}
        {% with msg_split = msg.split(';') %}
          {% with status = msg_split[0] %}
            {% if status == 'fail' %}
              <div class="error">{{msg_split[-1]}}</div>
            {% elif status == 'success' %}
              <div class="success">{{msg_split[-1]}}</div>
            {% else %}
              <div class="error">{{msg_split[-1]}}</div>
            {% endif %}
          {% endwith %}
        {% endwith %}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

{% endblock %}
