{% extends "base.html" %}

{% block content %}
  <div class="form">
    <form action="" method="post">
      {{regForm.hidden_tag()}}
      <div>
        {{ regForm.email.label }} <br>
        {{ regForm.email(placeholder="example@example.com", class='input') }}
        <!-- error output when sth is not valid -->
        {% for error in regForm.email.errors %}
        <br>
        <span class="error">[{{error}}]</span>
        {% endfor %}
      </div>
      <div>
        {{ regForm.username.label }} <br>
        {{ regForm.username(placeholder="Username...", class='input') }}

        {% for error in regForm.username.errors %}
        <br>
        <span class="error">[{{error}}]</span>
        {% endfor %}
      </div>
      <div>
        {{ regForm.password.label }} <br>
        {{ regForm.password(placeholder='Password...', class='input') }}

        {% for error in regForm.password.errors %}
        <br>
        <span class="error">[{{error}}]</span>
        {% endfor %}
      </div>
      <div>
        {{ regForm.confirm_password.label }} <br>
        {{ regForm.confirm_password(placeholder='Confirm Your Password', class='input') }}

        {% for error in regForm.confirm_password.errors %}
        <br>
        <span class="error">[{{error}}]</span>
        {% endfor %}
      </div>
      <div>
        {{ regForm.remember() }}
        {{ regForm.remember.label }}
      </div>
      {{ regForm.register() }}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <div class="error">[{{msg}}]</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </form>
  </div>
{% endblock %}
